@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://midiasstoragesec.blob.core.windows.net/001/2023/05/sei-banner1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://static.vecteezy.com/ti/vetor-gratis/t2/47074938-uma-conjunto-do-6-o-negocio-icones-como-escola-graduacao-ferramentas-vetor.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://static.clickprofissional.com.br/wp-content/uploads/2022/01/1642704980_61e9b05410e55.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>